<app-nav-bar></app-nav-bar>
<span class="title">Add a new company:</span>
<form class="col s8 form">
    <mat-form-field class="input-field col s6">
      <input matInput placeholder="Company name" [(ngModel)]="company.company_name" name="company_name">
    </mat-form-field>

    <mat-form-field class="input-field col s6">
      <input matInput placeholder="Address" [(ngModel)]="company.address" name="address">
    </mat-form-field>

    <mat-form-field -field class="input-field col s6">
      <input matInput placeholder="Country" [(ngModel)]="company.country" name="country">
    </mat-form-field>

    <button class="btn waves-effect waves-light" type="button" name="action" (click)="addCompanyClicked()">
      <i class="material-icons right">send</i>
    </button>
</form>


