<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col s10">{{customer.company_name}}</div>
    <div class="col s10">{{customer.customer_id}}</div>
    <div class="col s10">{{customer.first_name}}</div>
    <div class="col s10">{{customer.last_name}}</div>
    <div class="col s10">{{customer.email}}</div>
    <div class="col s10">{{customer.phone}}</div>
    <div class="col s10"><button type="button" (click)="deleteCustomerClicked(customer)">Delete</button></div>
  </div>
</div>
